/* 深色模式覆蓋 */
[data-md-color-scheme="slate"] {

  /* 背景 */
  --md-default-bg-color: #131515;
  --md-default-bg-color--light: #ff6200;

  /* 文字 */
  --md-default-fg-color: #e2eaf1;
  --md-default-fg-color--light: #ecf1f4;
  --md-default-fg-color--lighter: #7dc2fb;

  /* header #1c1f1f */
  --md-primary-fg-color: #1c1f1f;

  /* accent */
  --md-accent-fg-color: #5ca7e4;

  /* code */
  --md-code-bg-color: #0c0c0c;
  --md-code-fg-color: #ffffff;

  /* syntax highlight（這個超關鍵） */
  --md-code-hl-keyword-color: #ff7b72;
  --md-code-hl-string-color: #a5d6ff;
  --md-code-hl-function-color: #d2a8ff;
  --md-code-hl-number-color: #79c0ff;
  --md-code-hl-comment-color: #8b949e;
}

/* 當前選中的項目 - */
.md-sidebar .md-nav__link--active {
  color: var(--md-accent-fg-color);
  font-weight: bold;
}

/* 樹狀結構線 */
.md-sidebar .md-nav__list {
  border-left: 1px solid #262a2a;
}

.md-typeset a {
  color: var(--md-default-fg-color--lighter);
}